{% comment %} {% extends 'modals/baseModal.html' %}

<!-- Modal ID -->
{% block modal-id %} id="buscarPerfil" {% endblock modal-id %}

<!-- Modal Title -->
{% block modal-title %}
<i class="fa fa-search"></i>&nbsp;&nbsp; Mensaje
{% endblock modal-title %}

<!-- Modal Body -->
{% block modal-body %}
   <form action="buscarPerfil" method="POST">
        <br>
        <span class="text-success"><i class="fa fa-search fa-3x"></i></span>
        <div class="text-success mb-3 mt-4">Digita Tu cedula</div>
        <input type="number" class="form-control" placeholder="1003866081">    
   </form>
{% endblock modal-body %}

<!-- Modal Footer -->
{% block modal-footer %}
<a href="{% url 'perfil' %}" class="btn btn-outline-success btn-sm btn-modal">Buscar</a>
{% endblock modal-footer %} {% endcomment %}