<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body >
    <div class="container">
        <div class="row">
            <p class="text-center" style="font-size: 30px"> {{user.userTipoAfiliacion}}</p>
            <p style="font-size: 16px">Hace constar que: Juan Diego Andrade Cardozo</p>
            <p style="font-size: 16px">Con cedula de ciudadania: 1003866081</p>
            <p style="font-size: 16px">Participo activamente en el sondeo</p>
            <p style="font-size: 16px">08/09/2022</p>
            <p style="font-size: 16px">Colombia-Huila</p>
        </div>
    </div>
</body>
</html>