{% extends 'base.html' %}

<!-- Block image -->
{% block image %}{% endblock image %}



<!-- Sidebar content -->
{% block sidebar-content %}
    <!-- Welcome user -->
   <p class="text-center"> Bienvenido: <span class="text-success ">{{user.get_username}}</span></p>
    &nbsp;
    <a href="{% url 'ciudadano' %}" class="btn btn-secondary">Inicio</a>
    <a href="{% url 'perfil' %}" class="btn btn-secondary">Perfil</a>
    {% comment %} <a href="{% url 'sondeos' %}" class="btn btn-secondary"> Sondeos disponibles</a> {% endcomment %}
    <a href="{% url 'sondeosrealizados' question.id %}" class="btn btn-secondary">Sondeos Realizados</a>
    <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#logoutModal">Cerrar Sesion</a>
{% endblock sidebar-content %}

<!-- Page content  -->
{% block content %}
    &nbsp;
    <div  class="container-fluid mt-3" style="width: 90%;">

        
    <h3 style = "margin-bottom: 20px"><strong>Seleccione su respuesta</strong></h3>

    <h4>{{question.question}}</h4>

    <form method="POST" action=" {% url 'sondeosrealizados' question.id %} ">
        {% csrf_token %}
        <ul class="list-group" style="margin:0px">
        {% for option in options %}
        
        <label>
            <li class="list-group-item">
                <input class="form-check-input me-1" type="radio" name = 'choice' value="{{option.id}}" aria-label="...">
                {{option.option}}
            </li>
        </label>
        {% endfor %}

    
        </ul>
        <input type="submit" value = "Submit" class = 'btn btn-primary'>
    </form>

    </div>
{% endblock content %}