{% extends 'base.html' %}

<!-- Block image -->
{% block image %}{% endblock image %}



<!-- Sidebar content -->
{% block sidebar-content %}
    <!-- Welcome user -->
   <p class="text-center"> Bienvenido: <span class="text-success ">{{user.get_username}}</span></p>
    &nbsp;
    <a href="{% url 'ciudadano' %}" class="btn btn-secondary">Inicio</a>
    <!--  -->
    <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#logoutModal">Cerrar Sesion</a>
{% endblock sidebar-content %}

<!-- Page content  -->
{% block content %}
    &nbsp;
    <div  class="container-fluid mt-3" style="width: 90%;">

        
    <h3 style = "margin-bottom: 20px"><strong>Juntos somos mas</strong></h3>

    
<div>
    <!-- <h2 class="text-center">Encuesta {{vario.sonTitulo}}</h2> -->
    <ul class="list-group" style="margin:0px">
        <h4>{{question.question}}</h4>
    {% for option in valores %}
    <h4 class="text-center">Sondeo: {{option.sonTitulo}}</h4>
    <label>
        <li class="list-group-item">
           {% for encuesta in developers %}
                <p style="font-size: 20px;">{{encuesta}}</p>
                <form method="POST" action="/actualizar/{{encuesta.id}}" novalidate>
                    {%load crispy_forms_tags%}
                    {% csrf_token %}
                        <div class="row">
                            <!-- <input type="hidden">{{pregunta.question}} -->
                            <div class="col-2">{{ form.question |as_crispy_field}}</div>
                            <div class="col-2">{{ form.option |as_crispy_field}}</div>
                            <div class="col-2">{{ form.resultado |as_crispy_field}}</div>
                        </div>
                        <input type="submit" value = "Enviar" class = 'btn btn-primary'>
                </form>
                <hr>
           {% endfor %}
        </li>
    </label>
    <br>
    {% endfor %}
    </ul>
    
</div>

    </div>
{% endblock content %}
