{% extends 'base.html' %}

<!-- Block image -->
{% block image %}{% endblock image %}



<!-- Sidebar content -->
{% block sidebar-content %}
    <!-- Welcome user -->
   <p class="text-center"> Bienvenido: <span class="text-success ">{{user.get_username}}</span></p>
    &nbsp;
    <a href="{% url 'ciudadano' %}" class="btn btn-secondary">Inicio</a>
    <a href="{% url 'perfil' %}" class="btn btn-secondary">Perfil</a>
    {% comment %} <a href="{% url 'sondeos' %}" class="btn btn-secondary"> Sondeos disponibles</a> {% endcomment %}
    {% comment %} <a href="{% url 'sondeosrealizados' %}" class="btn btn-secondary">Sondeos Realizados</a> {% endcomment %}
    <a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#logoutModal">Cerrar Sesion</a>
{% endblock sidebar-content %}

<!-- Page content  -->
{% block content %}
<style>
    body{
        background-color: #ddd;
      }
      .container{
        margin: 0 auto;
        display: table;
      }
      .left{
        width: 214px;
        height: 366px;
      }
      .right{
        float: right;
        display: table;
        width: 60%;
      }
      .fa{
        display: inline-block;
      }
      .image{
        margin: 0 auto;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid gray;
        display: inline-block;
        padding: 3px;
        border: 3px solid #d2d6de;
        margin-top: 20px;
        margin-right: 57px;
        margin-left: 90px;
      
      }
      .has-feedback .form-control {
          padding-right: 42.5px;
      }
      select[multiple], select[size] {
          height: auto;
      }
      .form-control {
          border-radius: 0;
          box-shadow: none;
          border-color: #d2d6de;
      }
      .form-control {
          display: block;
          width: 100%;
          padding: 6px 12px;
          font-size: 14px;
          line-height: 1.42857143;
          color: #555;
          background-color: #fff;
          background-image: none;
          border: 1px solid #ccc;
      }
      label {
        cursor: default;
      }
      label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
      }
      .usuername{
          font-size: 21px;
          margin-top: 5px;
      }
      .text-center {
          text-align: center;
      }
      .btn{
        margin: 0 auto;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-top: 100px;
      }
      a {
          color: #3c8dbc;
      }
      a {
          color: #337ab7;
          text-decoration: none;
      }
      .btn-primary {
          color: #fff;
          background-color: #337ab7;
          display: block;
      }
      h3{
          font-family: 'Source Sans Pro',sans-serif;
      }
      
      .control-label{
        float: left;
      }
      .form-horizontal .form-group {
          margin-right: -15px;
          margin-left: -15px;
      }
      .form-group {
          margin-bottom: 15px;
      }
      
      .btn-submit {
        background-color: #dd4b39;
        border-color: red;
      }
      .btn {
        border-radius: 3px;
        box-shadow: none;
        border: 1px solid transparent;
      }
      
      .has-feedback {
          position: relative;
      }
      .form-group {
          margin-bottom: 15px;
      }
      .left.box-primary {
          border-top-color: #3c8dbc;
          
      }
      .left {
          position: relative;
          border-radius: 3px;
          background: #ffffff;
          border-top: 3px solid #d2d6de;
          margin-bottom: 20px;
          box-shadow: 0 1px 1px rgba(0,0,0,0.1);
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;
          padding: 10px;
      }
      button, meter, progress {
          -webkit-writing-mode: horizontal-tb;
      }
      
</style>
    &nbsp;
    <div  class="container-fluid mt-3" style="width: 90%;">
        <div class="row">
            <div class="col-lg-4">
                <div class="left box-primary" style="width: 80%; border-radius:5px; border: 2px solid #0B8E02;">
                    <img class="image" src="https://yt3.ggpht.com/-Y4ybONkbdYA/AAAAAAAAAAI/AAAAAAAAAAA/SCMi3HFru2w/s100-c-k-no-rj-c0xffffff/photo.jpg" alt="" />
                    <h3 class="username text-center">Mariane Felix Fernandes</h3>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card tab-content mb-5">
                    <form class="form-horizontal">
                      <div>
                          <div class="card border-dark text-center " style="font-size: 18px;">
                              <span class="m-4 fw-bold" style="background-color: #0B8E02; padding : 0.5em;color: #FFF;">IDENTIFICACIÓN</span>
                              <div class="container">
                                  <div class="row">
                                      <div class="col-4">Hola </div>
                                      <div class="col-4">Hola</div>
                                      <div class="col-4">Hola</div>
                                  </div>
                  
                                  <div class="row">
                                      <div class="col-4">Hola </div>
                                      <div class="col-4">Hola</div>
                  
                                  </div>
                              </div>
                              <span class="m-4 fw-bold" style="background-color: #0B8E02; padding : 0.5em;color: #FFF;">CONTACTO</span>
                              <div class="container">
                                  <div class="row">
                                      <div class="col-4">Hola </div>
                                      <div class="col-4">Hola</div>
                                      <div class="col-4">Hola</div>
                                  </div>
                              </div>
                  
                              <span class="m-4 fw-bold" style="background-color: #0B8E02; padding : 0.5em;color: #FFF;">GEOGRÁFICAS</span>
                              <div class="container">
                                  <div class="row">
                                      <div class="col-4">Hola</div>
                                      <div class="col-4">Hola</div>
                                      <div class="col-4">Hola</div>
                                  </div>
                              </div>
                              <span class="m-4 fw-bold" style="background-color: #0B8E02; padding : 0.5em;color: #FFF;">ENFOQUE DIFERENCIAL</span>
                              <div class="container">
                                  <div class="row">
                                      <div class="col-6">Hola</div>
                                      <div class="col-6">Hola</div>
                                  </div>
                              </div>
                              <span class="m-4 fw-bold" style="background-color: #0B8E02; padding : 0.5em;color: #FFF;">ENFOQUE POBLACIONAL</span>
                              <div class="container">
                                  <div class="tex-center">
                                      Hola
                                  </div>
                              </div>
                              <span class="m-4 fw-bold" style="background-color: #0B8E02; padding : 0.5em;color: #FFF;">SOCIOECONOMICO</span>
                              <div class="container">
                                  <div class="d-flex justify-content-center"> 
                                      Hola
                                  </div>
                              </div>
                  
                              <span class="m-4 fw-bold" style="background-color: #0B8E02; padding : 0.5em;color: #FFF;">ESCOLARIDAD</span>
                              <div class="container">
                                  <div class="d-flex justify-content-center"> 
                                      Hola
                                  </div>
                              </div>
                  
                              <span class="m-4 fw-bold" style="background-color: #0B8E02; padding : 0.5em;color: #FFF;">ACCESO Y CONECTIVIDAD A MEDIOS TECNOLOGICOS</span>
                              <div class="container">
                                  <div class="row">
                                      <div class="col-4 mt-3">Hola</div>
                                      <div class="col-4">Hola</div>
                                      <div class="col-4 mt-3">Hola</div>
                                  </div>
                              </div>
                  
                              <span class="m-4 fw-bold" style="background-color: #0B8E02; padding : 0.5em;color: #FFF;">SALUD</span>
                              <div class="container">
                                  <div class="d-flex justify-content-center mb-3"> 
                                      Hola
                                  </div>
                              </div>
                          </div>
                      </div>
                    </form>
                  </div>  
            </div>
        </div>
    </div>
{% endblock content %}


  