{% extends 'base.html' %}

<!-- Block image -->
{% block image %}{% endblock image %}



<!-- Sidebar content -->
{% block sidebar-content %}
<!-- Welcome user -->
<p class="text-center"> Bienvenido: <span class="text-success ">{{user.get_username}}</span></p>
&nbsp;
<a href="{% url 'ciudadano' %}" class="btn btn-secondary">Inicio</a>

<a class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#logoutModal">Cerrar Sesion</a>
{% endblock sidebar-content %}

<!-- Page content  -->
{% block content %}
&nbsp;
<div class="container-fluid mt-3" style="width: 90%;">

    <div class="container mt-5">
        <div class="card p-3 login-border">
            <span class="mt-3 text-center text-pulse mb-5"><strong>Modulos</strong></span>
            {% for question in questions %}
            <a href=" {% url 'sondeos' question.id %} " class="list-group-item list-group-item-action">
                <h5>{{question.question}}</h5>
            </a>
            {% endfor %}

            </div>
        </div>
        <div>


        </div>
    </div>
    {% endblock content %}